<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @computer.name %>
</p>

<p>
  <b>Model:</b>
  <%= @computer.model %>
</p>

<p>
  <b>So:</b>
  <%= @computer.so %>
</p>

<p>
  <b>Processor:</b>
  <%= @computer.processor %>
</p>

<p>
  <b>Memory:</b>
  <%= @computer.memory %>
</p>

<p>
  <b>Graphics:</b>
  <%= @computer.graphics %>
</p>

<p>
  <b>Hard disk:</b>
  <%= @computer.hard_disk %>
</p>

<p>
  <b>Display:</b>
  <%= @computer.display %>
</p>

<p>
  <b>Serial:</b>
  <%= @computer.serial %>
</p>

<p>
  <b>Programs:</b>
  <%= @computer.programs %>
</p>

<p>
  <b>Area:</b>
  <%= @computer.area %>
</p>


<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
